@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome</h1>
    <p>Manage your expenses and borrowed items at ease. Use the Menu above</p>
</div>
